@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "arvo";
        src: url(../assets/fonts/Arvo-Regular.ttf);
    }
}


#banner {
    background-image: url(../assets/img/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}